@model Sitecore8Helix.Website.Models.SearchResult<Sitecore8Helix.Website.Models.Product>

<h2>Products</h2>

@foreach (var facet in Model.FacetResults)
{
    <span style="margin-left: 20px;"><strong>Facet: @facet.Key</strong></span>
    foreach (var facetValue in facet.Values)
    {
        <span style="margin-left: 20px;">Key: @facetValue.Key , Value:@facetValue.Count</span>
    }
}

<h3>@Model.Hits</h3>
<ul>
    @foreach (var result in Model.Results)
    {
        <li>@result.Title</li>
        <li>@result.Description</li>
        <li>@result.Category</li>
        <li>@result.Price</li>
        <li>@result.IntroDate</li>
        <li>@result.Rating</li>
        <li>@result.Type</li>
        <br />
    }
</ul>