@using Sitecore8Helix.Feature.Media.Models
@using Sitecore8Helix.Foundation.Presentation.Interfaces
@model Sitecore8Helix.Foundation.Presentation.Models.PresentationModel<VideoFrame, IPresentationRenderingParameters>

<div class="@Model.RenderingParams.GridSize.Size">
    <h3>@Model.Data.Title</h3>
    <p>@Model.Data.Manchet</p>
    <span>@Model.Data.DelayStartBy</span>
    <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" controls @(Model.Data.StartAutomatically ? "autoplay" : "")
               src="@Model.Data.VideoSource"
               @(!string.IsNullOrEmpty(Model.Data.ThumbnailSource) ? "poster=\"" + Model.Data.ThumbnailSource + "\"" : "")></video>
    </div>
</div>